*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* padre style arriba */
.padre{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.padrecurso{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}
.final{
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    background-color: black;

}
.final2{
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    background-color: black;

}
.social{
    font-size: 1.4em;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;

}


/* codentoch */
.hijo{

    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}
.hijo2{
    font-size: 1.8em;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}
.decoracion{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arriba{
    width: 150px;
}

.padre5{
    height: 320px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
.textos1{
    height: 100px;
    color: white;
    font-size: 4em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textos2{
    height: 200px;
    color: white;
    font-size: 3em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.textos3{
    color: white;
    font-size: 1.7em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flecha{
    height: 180px;
    background-color:blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.padre6{
    height:  639px;
    background-color: black;
}
.seguir{
    height: 50%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.seguir2{
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seguirTexto1{
    font-size: 1.5em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seguirTexto2{
    font-size: 1em;
    font-family: "Jost", sans-serif;
    padding: 10px;
}
.presencial{
    width: 300px;
}

.seguirabajo{
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
}
.seguir3{
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seguirTexto3{
    font-size: 1.5em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seguirTexto4{
    font-size: 1em;
    font-family: "Jost", sans-serif;
    padding: 10px;
}

.trabajo{
    width: 400px;
}



/* foto no cambiar */
.foto{
    width: 240px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}


/* contacto */

.hijo4{
    font-size: 1.8em;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.hijo3{

    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.padre2{
    height: 550px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}

.contacto{
    color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 100px;
    border: 2px solid white;
    border-radius: 10px;

}


.contenido{
    height: 50px;
    font-family: "Jost", sans-serif;
    font-size: 1.5em;
}
.contenidoemail{
    height: 50px;
    font-family: "Jost", sans-serif;
}

.contacto2{
    color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}

.contenido2{
    height: 100px;
    font-size: 1.2em;
    font-family: "Jost", sans-serif;

}


.contacto3{
    color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    
}

.contenido4{
    height: 100px;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Jost", sans-serif;
}
.contenido3{
    height: 100px;
    font-size: 1.5em;
    font-family: "Jost", sans-serif;
}

















































/* cursos */

.hijo5{
    font-size: 1.8em;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.hijo6{

    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.padre3{
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}
.abajo2{
    height: 290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tit{
    font-size: 4em;
    padding: 15px;
}
.curso{
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 30px;
}
.curso2{
    border: 2px solid blue;
    width: 100%;
    height: 220px;
    font-size: 1em;
    padding: 30px;
}


.contenidocurso1{
    font-weight: bold;
    font-size: 1.4em;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso2{

    font-size: 1.5em;
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso3{

    font-size: 1.5em;
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso4{

    font-size: 1.2em;
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso5{

    font-size: 1em;
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso6{

    font-size: 1em;
    display: flex;
    font-family: "Jost", sans-serif;
    flex-direction: row;
    justify-content: center;
}
.contenidocurso{

    font-size: medium;
}














/* equipoCodenotch */

.hijo7{
    font-size: 1.8em;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.hijo8{

    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: white;
}

.padre4{
    height: 550px;
    display: flex;
    flex-direction: column;
}
.equipo{
    width: 1533px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.equipodocente{
    width: 250px;
    height: 250px;

}
.equipoContenido{
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.texto{
    border: 2px solid blue;
    width: 250px;
    height: 100x;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    
}

.conteTexto1{
    font-size: 1.1em;
}
.conteTexto2{
    font-size: 1.7em;
    font-weight: bold;


}







